<p id="notice"><%= notice %> </p>
  <h2>Poder: <%= @poder.nome %> </h2>

   <h3>Tipo: <%= @poder.tipo %> </h3>

   <%= link_to 'Editar Poder', edit_poder_path ,class:"btn btn-warning"%>
    <%= link_to 'Personagem', @poder.personagem, class:"btn btn-info"%>





  </ul>
